<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messung abgeschlossen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="icon" href="static/images/favicon-32x32.png" type="image/png">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="static/images/icon-192x192.png">
    <script src="static/js/main.js"></script>
</head>
<body>
    <div class="container">
        <h1>Messung abgeschlossen</h1>
        <form action="/solutions" method="get">
            <button type="submit">Überprüfung</button>
        </form>
    </div>
</body>
</html>

